@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
*, *:before, *:after {
  font-family: "Noto Sans TC";
}

html, body {
  background-color: #3E3A39;
  color: #44403f;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.postit {
  width: 240px;
  height: 240px;
  font-size: calc(240px / 4 - 5px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccffcc;
  box-shadow: 15px 10px 40px rgba(0, 0, 0, 0.4);
  position: absolute;
  transition: background-color 0.5s;
  cursor: pointer;
}
.postit .text {
  pointer-events: none;
}
.postit .clist {
  position: absolute;
  bottom: -60px;
  display: flex;
  flex-direaction: row;
}
.postit .clist .block {
  margin-right: 10px;
}

.datalist {
  position: fixed;
  right: 20px;
  top: 20px;
}

.block {
  width: 30px;
  height: 30px;
  display: inline-block;
}

.fade-enter-active, .fade-leave-active {
  transition: 0.5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
  transform: scale(0.1);
}
