doctype html
html
    head
        meta(charset='UTF-8')
        title Movable Stickers using MongoDB and Socket.io
        link(href='https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css', rel='stylesheet')
        link(href='https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
        script(src='https://cdn.rawgit.com/alertifyjs/alertify.js/v1.0.10/dist/js/alertify.js')
        link(rel='stylesheet', href='/css/style.css')
    body
        canvas#myCanvas
        #app
            transition-group(name='fade', tag='ul')
                .li.postit(v-for='(postit,pid) in postits', :key='pid', :style='posCss(postit)')
                    .imgblock(@mousedown='selectId($event,pid)', @mouseover='changeStyle($event,pid)', @mouseout='restoreStyle($event,pid)', :style='img_css')
                    img.img.unselect(:id="'img'+pid", :class="{'inactive':postit.status==-1}", :src="postit.src")
                    .block
                        .text(@click='setText(pid)') {{postit.text}}
                    i.fa.fa-chain.plus(@click='addline(pid)', title='新建或连接', aria-hidden='true')
                    .picture
                    i.fa.fa-rocket.chimg(title='换图', aria-hidden='true')
                        input(type="file" @change="onFileChange($event,pid)" accept="image/png,image/jpeg" style="opacity: 0;filter: alpha(opacity=0);")
                    i.fa.fa-trash.delete(@click='deleteit(pid)', title='删除', aria-hidden='true')
            ul.datalist
                button.addnew(style='cursor:pointer;margin-bottom: 20px', @click='addPostit()')
                    i.fa.fa-plus(aria-hidden='true')
                    |  新增贴纸
                button.deleteall(style='cursor:pointer;margin-bottom: 20px', @click='deleteAll()') 删除
                li(v-for='(postit,index) in postits', style='margin-bottom: 10px')
                    input(v-model='postit.text')
            // <input type="range" class="silder" min="0.5" max="1.0" step="0.001" v-model="scale" style="display: block;margin: 20px auto;width: 800px;"/>
        script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js')
        script(src='/bower/jquery/dist/jquery.min.js')
        script(src='/bower/axios/dist/axios.min.js')
        script(src='/js/index.js')
